<nav>
    <div class="nav-wrapper teal darken-1">
    <form>
        <div class="input-field">
        <input id="search" type="search" ng-model="searchFilter">
        <label for="search"><i class="material-icons">search</i></label>
        <i class="material-icons" ng-click="searchFilter = ''">close</i>
        </div>
    </form>
    </div>
</nav>
<div class="flex-max  scroll">
    <div class="collection no-marging">
        <a href="#/patients/create" class="collection-item  black-text teal lighten-5">
            <i class="material-icons left teal white-text circle">add</i> 
            Crear nuevo paciente
        </a>
        <a href="#/patient/{{patient.$id}}" class="collection-item  black-text"  ng-repeat="patient in patients | filter:searchFilter | orderBy:['-pinned','+surname','name']">
            <i class="material-icons grey-text left" ng-hide="patient.pinned">star_border</i> 
            <i class="material-icons amber-text left" ng-show="patient.pinned">star</i>
            <span ng-show="daysToBirthday(patient.birth) < 7" class="red-text right">
                <i class="material-icons">cake</i>
                {{daysToBirthday(patient.birth)}}
            </span>
            
            {{patient.name}} {{patient.surname}} 
        </a>
    </div>
</div>